#chat-scroll-container {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent
    }

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #777 transparent;
}

#chat-input-container {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #222;
    }

    & {
        /* Firefox */
        scrollbar-width: thin;
        scrollbar-color: #777 transparent;
    }
}