.in-progress-loader {
    width: 12px;
    aspect-ratio: 1;
    color: gray;
    position: relative;
    background: radial-gradient(4px, currentColor 94%, #0000);
}

.in-progress-loader:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background:
        radial-gradient(3px at bottom right, #0000 94%, currentColor) top left,
        radial-gradient(3px at bottom left, #0000 94%, currentColor) top right,
        radial-gradient(3px at top right, #0000 94%, currentColor) bottom left,
        radial-gradient(3px at top left, #0000 94%, currentColor) bottom right;
    background-size: 6px 6px;
    background-repeat: no-repeat;
    animation: l18 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l18 {
    33% {
        inset: -3px;
        transform: rotate(0deg)
    }

    66% {
        inset: -3px;
        transform: rotate(90deg)
    }

    100% {
        inset: 0;
        transform: rotate(90deg)
    }
}